/*!
body {
        color: green;
  background: url('../img/');
 /*! background-repeat: no-repeat; 
  background-size: 300px;
}

.background      { 
  border: 2px solid black;
  padding: 25px;
           }
  */         
body {
  background: url('../img/jez-timms-282576-unsplash.jpg');
  background-size: cover;
  
  display: flex
  min-height: 100vh
  flex-direction: column
  
main {
  flex: 1 1 auto
  }
